# Ignore build artifacts
dist/
build/
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore cache folders
.cache/
.cache
# Ignore PyInstaller spec file (optional)
spoopify.spec

# Ignore environment variables (DO NOT commit secrets)
.env

# Ignore OS junk files
.DS_Store
Thumbs.db
